## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [50]:
#Get the sample list
sample_list_1 = list(random.sample(range(100), 80))

#Print the list
print(sample_list_1)

#Just to confirm that I have 80 arguments
len(sample_list_1)

[48, 94, 83, 51, 22, 2, 86, 46, 34, 78, 19, 80, 29, 12, 76, 74, 0, 67, 49, 54, 79, 8, 32, 92, 42, 15, 21, 53, 50, 82, 61, 39, 89, 55, 4, 99, 10, 5, 17, 71, 38, 87, 18, 47, 88, 96, 69, 20, 33, 95, 23, 13, 7, 62, 63, 59, 6, 85, 52, 30, 35, 45, 16, 25, 43, 84, 28, 3, 75, 66, 41, 57, 98, 40, 60, 77, 68, 27, 81, 44]

80

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [55]:
#This is to covert in to a set1
set1 = set(sample_list_1)

#Print set1 + Confirmation of the type
print(set1)
print(type(set1))

#Length of the set
len(set1)

{0, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 27, 28, 29, 30, 32, 33, 34, 35, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 59, 60, 61, 62, 63, 66, 67, 68, 69, 71, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 92, 94, 95, 96, 98, 99}
<class 'set'>

80

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [66]:
sample_list_2 = []

for i in range(80):
    n = random.randint(0,100)
    sample_list_2.append(n)
print(sample_list_2)

#To confirm that I have 80 values
len(sample_list_2)

[62, 7, 71, 23, 80, 77, 32, 95, 8, 59, 52, 59, 13, 26, 37, 17, 67, 93, 70, 99, 14, 26, 5, 6, 46, 73, 36, 59, 78, 6, 7, 33, 91, 1, 27, 55, 94, 11, 2, 94, 89, 41, 96, 95, 78, 61, 89, 33, 66, 65, 65, 62, 71, 42, 82, 68, 16, 27, 37, 47, 45, 21, 38, 96, 43, 56, 83, 4, 66, 19, 56, 92, 45, 61, 70, 100, 55, 47, 68, 17]

80

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [67]:
#This is to covert in to a set2
set2 = set(sample_list_2)

#Print set2 + Confirmation of the type
print(set2)
print(type(set2))

#Length of the set
len(set2)
#This is not going to be 80 because we have duplicate values and Sets do not duplicated values

{1, 2, 4, 5, 6, 7, 8, 11, 13, 14, 16, 17, 19, 21, 23, 26, 27, 32, 33, 36, 37, 38, 41, 42, 43, 45, 46, 47, 52, 55, 56, 59, 61, 62, 65, 66, 67, 68, 70, 71, 73, 77, 78, 80, 82, 83, 89, 91, 92, 93, 94, 95, 96, 99, 100}
<class 'set'>

55

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [73]:
set3 = set1.difference(set2)
print(set3)

{0, 3, 10, 12, 15, 18, 20, 22, 25, 28, 29, 30, 34, 35, 39, 40, 44, 48, 49, 50, 51, 53, 54, 57, 60, 63, 69, 74, 75, 76, 79, 81, 84, 85, 86, 87, 88, 98}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [75]:
set4 = set2.difference(set1)
print(set4)

{1, 65, 36, 37, 70, 100, 73, 11, 14, 56, 26, 91, 93}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [77]:
#Common elements between two sets:
set5 = set1.intersection(set2)
print(set5)

{2, 4, 5, 6, 7, 8, 13, 16, 17, 19, 21, 23, 27, 32, 33, 38, 41, 42, 43, 45, 46, 47, 52, 55, 59, 61, 62, 66, 67, 68, 71, 77, 78, 80, 82, 83, 89, 92, 94, 95, 96, 99}

#### 8 - Create an empty set called `set6`.

In [96]:
set6 = {}

#check data type of set6 - for verification
print(type(set6))

# covert to a set
set6 = set()

# check data type of set6 - for verification
print(type(set6))

<class 'dict'>
<class 'set'>

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [97]:
set6.update(set3)
set6.update(set5)

print(set6)

{0, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 27, 28, 29, 30, 32, 33, 34, 35, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 59, 60, 61, 62, 63, 66, 67, 68, 69, 71, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 92, 94, 95, 96, 98, 99}

#### 10 - Check if `set1` and `set6` are equal.

In [102]:
set1 == set6

True

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [109]:
#Verify if all the elements of set1 are on set2 - this return True or False (boolean)
set1.issubset(set2)
set1.issubset(set3)

False

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [108]:
result = set3.union(set4, set5)
result2 = set3.union(set1, set2)

result == result2

True

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [111]:
set1.pop()

0

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [117]:
print(set1)

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for number in list_to_remove:
    if number in set1:
        set1.remove(number)
    else:
        print(number)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 15, 16, 17, 18, 20, 22, 23, 25, 27, 28, 30, 32, 33, 34, 35, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 57, 60, 62, 63, 66, 67, 68, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 92, 94, 95, 96, 98}
1
9
11
19
21
29
31
39
41
49
51
59
61
69
71
79
81
89
91
99

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [31]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [32]:
#Convert which list of the different family member in to a set
father_set = set(father_list)
mother_set = set(mother_list)
Jo_set = set(Jo_list)
Carlos_set = set(Carlos_list)
Mattia_set = set(Mattia_list)

#Union all the family members as set
grocery_set = set.union(father_set, mother_set, Jo_set, Carlos_set, Mattia_set)
print(grocery_set)

print(type(grocery_set)) #check the type of the variable

#In case that we want to covert the set of the family grossery as a list
grocery_list = list(grocery_set)
print(grocery_list)

print(type(grocery_list)) #check the type of the variable

{'cherries', 'cucumber', 'milk', 'garlic', 'gums', 'sugar', 'blueberries', 'toilet paper', 'watermelon', 'tomatoes', 'flour', 'juice', 'yogurt', 'onions', 'water'}
<class 'set'>
['cherries', 'cucumber', 'milk', 'garlic', 'gums', 'sugar', 'blueberries', 'toilet paper', 'watermelon', 'tomatoes', 'flour', 'juice', 'yogurt', 'onions', 'water']
<class 'list'>

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [33]:
#Online info: s.symmetric_difference(t) is s.symmetric_difference(t)

Mattia_set = Carlos_set.symmetric_difference(Jo_set)
print(Mattia_set)

{'cherries', 'cucumber', 'milk', 'water', 'gums', 'sugar', 'flour', 'juice', 'yogurt', 'toilet paper', 'watermelon'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [40]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) #https://docs.python.org/3/library/random.html

print(mother_list)

['onions', 'vinegar', 'watermelon', 'gums', 'tomatoes', 'watermelon', 'vinegar', 'bread', 'vinegar', 'onions']

In [41]:
mother_set = set(mother_list)

#Union all the family members as set
grocery_set = set.union(father_set, mother_set, Jo_set, Carlos_set, Mattia_set)
print(grocery_set)

{'cherries', 'cucumber', 'milk', 'garlic', 'gums', 'bread', 'sugar', 'blueberries', 'toilet paper', 'watermelon', 'tomatoes', 'vinegar', 'flour', 'juice', 'yogurt', 'onions', 'water'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [56]:
#Remove the "toilet paper" from all sets
father_set.discard('toilet paper')
mother_set.discard('toilet paper')
Jo_set.discard('toilet paper')
Carlos_set.discard('toilet paper')
Mattia_set.discard('toilet paper')

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [45]:
#Create a set with all the groceries
grocery_set = set.union(father_set, mother_set, Jo_set, Carlos_set, Mattia_set)
print(grocery_set)

{'cherries', 'cucumber', 'milk', 'garlic', 'gums', 'bread', 'sugar', 'blueberries', 'watermelon', 'tomatoes', 'vinegar', 'flour', 'juice', 'yogurt', 'onions', 'water'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [58]:
Mattia_list = list(Mattia_set)

print("From father's list, we will buy", father_list.pop(),
      ", from mother's list, we will buy:", mother_list.pop(),
      ", from Jo's list, we will buy:", Jo_list.pop(),
      ", from Carlos' list, we will buy:", Carlos_list.pop(),
      "and finally from Mattia's list, we will buy:", Mattia_list.pop(), ".")

From father's list, we will buy garlic , from mother's list, we will buy: vinegar , from Jo's list, we will buy: milk , from Carlos' list, we will buy: garlic and finally from Mattia's list, we will buy: watermelon .